### Python for Beginners 
#### Math Circle Intermediate 1B 
#### October 9, 2022

What is Python? Python is a popular programming language created by Guido van Rossum, and released in 1991.
##### Contents in this notebook:
1. Data Types 
2. Variables
3. Control Flow
4. Functions

The first classic function!

In [2]:
print('hello, world! we are the Math Circle')

hello, world! we are the Math Circle

#### Variables and their types

What is a variable?\
Variables are containers that hold a value, such as a piece of text or a number. You might remember these from math class. Variables are powerful because they can be reused and changed easily.

In [5]:
x = 10
x

10

In [7]:
y = 'sunday'
y

'sunday'

In [8]:
x = 5.5
x

5.5

#### The following are some common variable types:
Integer: 20\
Float: 20.5\
String: “MathCircle”\
List: ['apple', 'banana', 'orange']\
Tuple: ('apple', 'banana', 'orange')\
Dictionary: {'name':'John', 'age':10}\
Set: {'apple','banana','orange'}\
Boolean: True, False

In [24]:
x = 'math is fun' #you can use either single or double quotes
print(type(x))
y = 55
print(type(y))

<class 'str'>
<class 'int'>

You can also specify what variable type you would like:

In [25]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x,y,z)
type(x)

3 3 3.0

str

How do we name our variables?

Variable names cannot:

1. start with a number
2. contain spaces.
3. contain special characters except “_” (underscore)
4. have same name as another variable

We can comment in Python just like you write on a word document or on your notes app!

In [11]:
#This is a comment

How do we deal with strings, which are words or text?

Items in python are indexed and the first index is 0 instead of 1

In [65]:
x = 'harry styles is a great singer!' 
x[0]

'h'

In [43]:
x[0:12] # the first 12 letters of the string x

'harry styles'

In [34]:
y = 'apple'
len(y) #to find the length of the string

5

In [38]:
a, b = 'UC', 'LA'
a+b #we can concatenate or join strings together

'UCLA'

#### Comparison Operators

In [44]:
print(1>2)

False

In [49]:
print(56<56.1)

True

The comparison operators are:
1. \> Greater than
2. < Less than
3. == Equal to check if two values are equal (not the = sign)
4. != NOT equal to
5. \>= Greater than or equal to
6. <= Less than or equal to

In [50]:
5 == 5.0

True

In [52]:
'apple' == 'Apple' #strings are case sensitive

False

#### Arithmetic operators

\+  Addition       
\-  Subtraction    
\*  Multiplication\
/  Division       
%  Modulus (gives the remainder after division)      
** Exponentiation  
// Floor division (rounds off the quotient to the nearest smaller integer)

In [58]:
x = 10+56
x

66

In [61]:
36/7

5.142857142857143

In [64]:
36%7

1

In [62]:
36//7

5

In [63]:
20**2

400

#### Control Flow

`if` statement

In [72]:
x = 10
y = 20
if y > x:
  print("y is greater than x")

y is greater than x

indentation is important while writing if-else loops

In [73]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block (1443227691.py, line 4)

`elif` statement

In [74]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

`else` statement

In [75]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

We can also have just if and else without the elif clause.

The following logical operators can be used in the if-else conditions:
1. and 
2. or

In [76]:
x = 15
y = 25
z = 5
if y > x and y > z:
    print('Both conditions are true')

Both conditions are true

In [78]:
if y > x or y < z:
    print('At least ONE of the conditions is True')

At least ONE of the conditions is True

The `While` loop runs as long as a set of statements is True

In [79]:
i = 1
while i < 6:
  print(i)
  i = i+1

1
2
3
4
5

It can also be combined with the `else` condition

In [80]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

A `for` loop is used to iterate over any kind of a sequence that be either a list, a tuple, a set, a dictionary, or a string.

In [81]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [82]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [85]:
for x in range(6): #the range function will give us numbers from 0 to the input number-1 so range(6) gives us 0 to 5
  print(x)

0
1
2
3
4
5

We can also have NESTED loops that contain one loop within the other.

In [86]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry